@charset "UTF-8";
/* 메인 */
*:not(body, html, hr, footer) {
    /* border: 1px solid black; */
    box-sizing: border-box;
    /* width: 1024px; */
}

footer ul, footer ul > li{
    width: 100%;
}

main{
    /* width: 60%;
    margin-left: 20%; margin-right: 20%; */
    /* 아나바다 바디 1024px */
    margin: auto;
    width: 1024px;
}

.main-bottom-left *, .main-bottom-rigth * {
    margin-bottom: 15px;
    margin-top: 15px;
}

.category{
    width: 100%;
    height: 50px;
    padding-top: 12px;
}

.category > img{
    width: 15px;
    height: 15px;
}

.category > select{
    width: 100px;
}

.main-top{
    width: 100%;
    height: 450px;
    /* border: 2px solid red; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.main-bottom{
    width: 100%;
    /* border: 2px solid blue; */
} 

.main-bottom-left{
    float: left;
    width: 70%;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.main-bottom-rigth{
    float: left;
    width: 30%;
    padding-left: 7px;
    /* border: 2px solid gold; */
}

.product-img{
    float: left;
    width: 45%;
    height: 450px;
    padding : 30px;
    /* border: 2px solid red; */
}

.product-img img{
    width: 100%;
    height: 100%;
}

.product-intro{
    float: left;
    width: 55%;
    height: 450px;
    /* border: 2px solid blueviolet; */
}

.product-intro-top{
    float: left;
    width: 100%;
    padding-left: 20px;
    /* border: 2px solid rgb(75, 90, 63); */
    padding-top: 30px;
}
.product-intro-bottom{
    float: left;
    margin-top: 2%;
    width: 100%;
    height: 58%;
    /* border: 2px solid rgb(75, 90, 63); */
}
.product-intro-top > h3{
    width: 100%;
    /* border: 1px solid red; */
}

.product-inform{
    width: 100%;
    height: 20%;
    padding-top: 3%;
    padding-left: 5%;
    border-top: 1px solid #ccc;
}

.product-inform>span{
    margin-right: 30px;
}

.product-inform>span>img{
    width: 20px;
    height: 20px;
}

.product-btn{
    width: 100%;
    height: 80%;
    /* border: 2px solid rgb(250, 101, 151); */
}

.product-btn > button{
    width: 25%;
    height: 25%;
    background-color: #689BA6;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;

    margin: auto;
}

.product-infrom-detail, .product-question{
    width: 100%;
    /* border: 2px solid rgb(250, 101, 151); */
}

.detail-top{
    width: 100%;
    padding-right: 10px;
    /* border: 2px solid rgb(250, 101, 151); */
}
.main-bottom-left h5, .main-bottom-rigth h5, .main-bottom-rigth h6 {
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.reply-count{
    color: red;
    width: 50px;
    margin-left: 12px;
    font-size: 20px;
}
.reply, .reply-{
    width: 100%;
}
.user-name{
    display: block;
    padding: 5px;
}

.user-reply{
    display: block;
    width: 80%;
    /* height: 100%; */
    /* margin-left: 10%;
    margin-right: 10%; */
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;

    margin: auto;

}

.detail-bottom{
    width: 100%;
    margin-top: 30px;
    
    margin-bottom: 40px;
    /* border: 2px solid rgb(250, 101, 151); */
}

.detail-bottom  img{
    width: 20px;
    height: 20px;
}
.detail-bottom>h4{
    width: 100%;
    margin-bottom: 0;
}
.detail-bottom > span{
    padding-left: 30px;
    margin: 0;
}

.product-question{
    width: 100%;
}
.product-question > textarea{
    width: 100%;
    height: 6.25em;
    resize: none;
    margin-bottom: 5px;
}

.product-question input{
    width: 20px;
    margin: 0;
}
.product-question button{
    float: right;
    width: 60px;
    margin: 0;
}
.submit{
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    /* border: 1px solid rgb(250, 101, 151); */
}


.reply-div > ul{
    list-style:none;
    padding-left:0px;
}

.reply-row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    min-height: 80px;
}

.rWriter{
    font-size: bold;
    display: inline-block;
    margin-right: 30px;
}

.rDate{
    font-size: 12px;
    display: inline-block;
}

.replyBtnArea{
    text-align: right;
    height: 40px;
}

.replyBtnArea > button, .reply-submit{
    background-color: #689BA6;
    border: none;
    border-radius: 5px;
    color: white;
    width: 80px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

.more-review{
    background-color: #689BA6;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 80%;
    margin: 10%;
}

.replyUpdateContent,.answerContent{
    margin-bottom: 10;
    width: 100%;
    height: 100;
    resize: none;
}

.answerListArea{
    list-style:none;
    padding-left:0px;
}

.answer-padding{
    margin-top: 20px;
    width: 90%;
    display: inline-block;
}

.answer-sign{
    display: inline-block;
    width: 8%;
    height: 50px;
    font-size: 30px;
    padding-left: 15px;
}

.answer-row{
    /* border: 1px solid red; */
    background-color: whitesmoke;
    border : 1px solid gainsboro;
    border-radius: 5px;
}

.review{
    margin-bottom: 20px;
}

button{
    cursor: pointer;
}

.product-inform p {
    display: inline-block;
    margin-top: 0;
    margin-left: 5px;
}
h6{
    padding-bottom: 10px;
}

/* =================================================== */
  
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.carousel-control-prev > a{
    font-size: 30px;
    color: red;
}

.carousel-item > img{
    cursor: pointer;
}





