@charset "UTF-8";
/* 
    width: 1024px
    margin(left,right): 1024의 20%
    본문 너비 : 1024 의 60%
    본문도 동일하게 margin 설정하기

    높이: 180px
*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#search_input{outline: none;}
body{
    text-decoration: none;
    font-family: 'GmarketSansMedium';
}

button{
    text-decoration: none;
    font-family: 'GmarketSansMedium';
}

header{
    width: 100%;
    height: 180px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.header-top{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ccc;
}

.header-login{
    /* margin-left: 20%;
    margin-right: 20%;
    width: 60%; */
    height: 30px;

    /* 아나바다 바디 1024px */
    margin: auto;
    width: 1024px;
}

.header-login > div{
    width: 80px;
    height: 100%;
    float: right;
    line-height: 28px;
}

.header-bottom{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #ccc;
}

.header-main{
    /* width: 60%; */
    height: 100%;
    /* margin-left: 20%; margin-right: 20%; */
    /* border: 1px solid blueviolet; */
    /* 아나바다 바디 1024px */
    margin: auto;
    width: 1024px;
}

.header-main-top{
    width: 1024px;
    height: 60%;
    display: inline-block;
    
    /* border: 1px solid orange; */
}

.header-main-bottom{
    width: 100%;
    height: 40%;
    display: inline-block;
    /* border: 1px solid blue; */
}

.header-btn-style{
	color: gray;
    text-decoration: none;
}

.header-font{
	font-family: 'GmarketSansMedium';
}

#logo{
    width: 15%;
    height: 100%;
    float: left;
    color: #689BA6;
    font-size: 30px;
    font-weight: bold;
    line-height: 103px;
    /* border: 1px solid red; */
}

#search{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid red; */
}

/* 검색창 */
#search-border > input{
    width: 350px;
    height: 35px;
    float: left;
    border: none;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    border-bottom:0px;
}

#search-border > img{
    width: 40px;
    height: 40px;
    float: left;
    display: inline;
}

#search-border{
    margin-left: 40px;
    margin-top: 30px;
    width: 400px;
    height: 43px;
    border: 3px solid #689BA6;
}

/* logo-right */
#logo-right{
    width: 35%;
    height: 100%;
    display: inline-block;

    /* border: 1px solid red; */
}

.shop,.notice{
    width: 30%;
    height: 100%;
    display: inline-block;
}
.sale{
    width: 35%;
    height: 100%;
    display: inline-block;
}

.sale > img,.shop > img,.notice > img{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}

#sale{
    margin-top: 35px;
    margin-left: 5px;
    width: 70px;
    height: 20px;
    float: left;
    font-size: 14px;
    border-right: 2px solid #ccc;
    color: gray;
}

#shop, #notice{
    margin-top: 35px;
    margin-left: 5px;
    width: 53px;
    height: 20px;
    float: left;
    font-size: 14px;
    border-right: 2px solid #ccc;
    color: gray;
}

#category{
    width: 30px;
    height: 30px;
}

/* 메인 */
main{
    /* width: 60%;
    margin-left: 20%; margin-right: 20%; */
    /* 아나바다 바디 1024px */
    margin: auto;
    width: 1024px;

}


/* 푸터 */
footer{
    margin: auto;
    width: 1024px;
    font-size: 11px;
    padding-top: 15px;
    text-align: center;
}

.footer-div{
    display: inline;
}

.footer-div ul{
    list-style-type: none;
}

.footer-info-left, .footer-info-right{
    text-align: left;
    display: inline-block;
    width: 300px;
}

.footer-info-left{
    margin-right: 150px;
}

.footer-info-right{
    margin-left: 150px;
}


/* footer 하단에 고정 */
html, body{
    margin: 0; padding: 0;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main{
    flex: 1;
}

a{
    color: gray;
    text-decoration: none;
}

#logo, #search-img, .sale, .shop, .notice, #category{
    cursor: pointer;
}

/* =====목록===== */

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 300px; */
    width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#category-ul{
  list-style-type: none;
}

.category_item{
    height:30px;
    width: 200px;
    line-height: 28px;
    cursor: pointer;
    /* border: 1px solid black; */
}

.category_item:hover{
    color: #689BA6;
}
