@charset "UTF-8";
.head1{width: 310px; height: 310px; display: flex; }
.head2{width: 714px; height: 310px; display: flex;}

.btn{
    font-size: 23px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid black;
    color: #888888;
    user-select: none;
    height: 50px;
    line-height: 48px;
    background-color: rgb(247, 245, 245);
}

.btn.active {
    border-bottom: 0px!important;
    border-right: 1px solid black!important;
    border-left: 1px solid black!important;
    border-top: 1px solid black!important;
    font-weight: bold;
    color: #212121;
    background-color: white;
}
.imgProfile{width: 100px; height: 100px; border-radius: 50%;}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#h1 > div > *{
    margin-bottom: 10px;
}
.container > #div {
    display: flex;
}
#changeDiv > #div{
    display: flex;
}

#h1{
    display: flex;
    /* position: inherit; */
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#h2{
    width: 653px;
    height: 75px;
    padding-top: 30px;
    padding-bottom: 20px;

    font-size: 18px;
    font-weight: 600;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
}
/* #h2 div{
    display: flex;
} */
#userNameDiv{text-align: center;}

#save{display: flex; padding-bottom: 30px;}
.head1-1{
    border: 0.2px solid #ccc;
    background-color: transparent;
    outline: none;
}
button{
    margin-left: 10px;
    height: 20px;
    cursor: pointer;
}
.shopNameBtn{
    display: flex;
    align-items: center;
    color: rgb(136, 136, 136);
    border: 1px solid rgb(238, 238, 238);
    font-size: 11px;
}
#userName{
    font-size: 14px;
    border: 0.3px solid #ccc;
}
.userNameBtn{
    font-size: 13px;
    height: 23px;
    padding: 0px 15px;
    color: rgb(136, 136, 136);
    margin: 0px;
    border: 0.3px solid #ccc;
}

#myShopContent{font-weight: lighter;}


#myShopContent2:hover{
    cursor: pointer;
}

#myShopContent2{
    /* margin-top: 111px; */
    border: 1px solid rgb(238, 238, 238);
    color: rgb(136, 136, 136);
    display: flex;
    font-size: 11px;
    padding: 0px 10px 0px 10px; 
    font-weight: lighter; 
    border: 0.3px solid #ccc; 
    font-size: 12px; 
    display: inline-block;
}
#myShopContentBtn{
    width: 100px;
    height: 155px;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(250, 250, 250);
    color: rgb(136, 136, 136);
    margin: 0;
    padding: 0;
}
#userPostTextareaBtn{
    width: 100px;
    height: 140px;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(250, 250, 250);
    color: rgb(136, 136, 136);
    margin: 0;
    padding: 0;
}
#userPostTextarea{
	resize: none; 
	border:0.3px solid #ccc; 
	width: 80%; 
	height: 140px;
}
#userPostTextarea:focus{outline: none;}
#userPostTextareaBtn{float:right;}

#contentTextarea{
	resize: none; 
	border:0.3px solid #ccc; 
	width: 82%; 
	height: 149px;
}
#contentTextarea:focus{outline: none;}
#myShopContentBtn{float:right;}


/* buyList css */
.buyTr{margin-bottom: 10px;}
.buyTd{
    width: 25%; 
    height: 250px; 
    border: 1px solid #ccc; 
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.buyImgDiv{ margin: 10px auto; position: relative; }
.buyImgSpan{padding: 10px 20px; border-radius: 10px; background-color: rgba(242, 96, 92, 0.5); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.buyImg{width: 100%; vertical-align: middle; height: 175px;}
.buyTextDiv{height: 30%;}
.buyText2{float: left;}
.buyText3{float: right;}
/* buyList css */

/* itemList css */
.itemTr{margin-bottom: 10px;}
.itemTd{
    width: 25%; 
    height: 250px; 
    border: 1px solid #ccc; 
    padding: 10px 10px 10px 10px;
    text-align: center;
}
.itemImg{width: 98%; height: 70%;}
.itemTextDiv{height: 30%;}
.itemText2{float: left;}
.itemText3{float: right;}
/* itemList css */

/* postScript css */
.userPost{height: 140px;}
.userPostImgDiv{float: left; height: 100%; margin-right: 30px; margin-left: 20px;}
.userPostImg{width: 50px; height: 50px; border-radius: 50%;}
.userPostStarImg{width:15px; height:14px;}
.userPostDelete{float: right; border: none; width: 150px; height: 30px;}
.userPostUpdate{float: right; border: none; width: 150px; height: 30px;}
/* postScript css */

/* sellList css */
.sellTr{margin-bottom: 10px;}
.sellTd{width: 25%; height: 250px; border: 1px solid #ccc; padding: 10px 10px 10px 10px; text-align: center;}
.sellImgDiv{margin: 10px auto; position: relative;}
.sellImgSpan{
    padding: 10px 20px; 
    border-radius: 10px; 
    background-color: rgba(139, 245, 244, 0.5); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.sellImg{width: 100%; vertical-align: middle; height: 175px;}
.sellTextDiv{height: 30%;}
.sellText2{float: left;}
.sellText3{float: right;}
/* sellList css */

/* wishList css */
.wishContainer{width: 45%; height: 150px; float: left; border: 1px solid #ccc; margin: 5px 20px;}
.wishImg{float: left; width: 30%; height: 100%;}
.wishTextDiv{float: right;  width: 70%;}
.wishTitle{margin-top:20px;}
.wishDeleteBtn{border: 0.3px solid #ccc; float: right; margin-right: 20; padding: 0 20 20;}
.wishText1, .wishText2{margin-top: 20px;}
/* wishList css */

#fileArea {
    display: none;
 }