@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

*:not(body, html){
    box-sizing: border-box;
}

body{
    margin: 0;
    
}


#signUpPage{
    font-family: 'GmarketSansMedium';
    text-align: center;
}

#top-banner{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #689BA6;
    border-bottom: 1px solid #ccc;
}

#signUpPage-info{
    display: inline-block;
    margin: 120px;
}

#signUpPage-info table{
    width: 450px;
    font-size: 18px;
    text-align: left;
    border-collapse: collapse;
}

#signUpPage-info th, #signUpPage-info td{
    height: 70px;
    padding-left: 20px;
}

.btn-style{
    color : white;
    background-color: #B8cc7a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dup-Btn{
    height: 30px;
}

#signUp-Btn{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    
}


